*{
				margin:0px;
				padding:0px;
			}
			.wrap{
				width:855px;
				margin:0 auto;
			}
			.title{
				width:260px;
				height:65px;
				margin:60px auto;
			}
			.title p{
				background-color:rgb(242,129,31);
				display:inline-block;
				width:260px;
				height:50px;
				line-height: 50px;
				text-align: center;
				font-size: 25px;
				font-weight:bold;
				color:white;
				border-radius: 50px;
			}
			.title img{
				display:inline-block;
				margin-left:46%;
				margin-bottom:7px;
			}
			
			.info{
				display:inline-block;
				margin-left:20px;
			}
			.info>span{
				font-size:15px;
			}
			.info p{
				display:inline-block;
				text-align: center;
				width:195px;
				height:35px;
				border:1px solid #E4E1E1;
				border-radius: 50px;
				font-size:25px;
				padding-top:4px;
				padding-bottom: 4px;
				color:black;
				font-weight:bold;
				margin-left:10px;
			}
			.info p .m2{
				font-weight:100px;
				font-size:15px;
			}
			.p1{
				text-align: center;
				font-size:21px;
				margin:80px 0px 40px 0px;
			}
			.form1{
				border-top:1px solid #E4E1E1;
				border-bottom:1px solid #E4E1E1;
				padding:10px 0px;
			}
			.form1 div{
				margin:10px 0px;
			}
			.form1 .whole{
				overflow:hidden;
			}
			.form1 .whole .rf{
				float:right;
				width:715px;
				height:45px;
				border:1px solid #E4E1E1;
				
			}
			.form1 label{
				margin-top:15px;
				font-size:15px;
				display:inline-block;
			}
			.form1 input{
				font-size:20px;
			}
			.form1 select{
				width:279px;
				height:45px;
				border:1px solid #E4E1E1;
				font-size:15px;
				margin-left: 4px;
			}
			.small input{
				height:45px;
				width:275px;
				border:1px solid #E4E1E1;
				
			}
			/*以下对表单控件的margin微调 开始*/
			.one{
				color:red;
				margin-left:40px;
			}
			
			.small #tel{
				margin-left:78px;
				margin-right:48px;
			}
			.label1{
				
				margin-right:70px;
			}
			.label2{
				
				margin-left:45px;
				
			}
			.label3{
				margin-right:47px;
			}
			#guimo{
				margin-left:46px;
			}
			#chuang{
				margin-left:81px;
			}
			
			/*对表单控件的margin微调结束*/
			.da{
				width:230px;
				margin: 20px auto;
			}
			.a1{
				color:white;
				background-color:#ff8c25;
				display:inline-block;
				text-decoration: none;
				font-size:25px;
				padding:7px 0;
				width:inherit;
				height:inherit;
				margin:30px auto;
				font-weight: bold;
			}
			.a1:hover{
				color:red;
			}
			.a1 p{
				text-align: center;
			}