html { overflow-y:scroll}
*{word-wrap:break-word;}
body{ font-weight: normal;}
body,input,button,select,textarea{font:12px/1.5 "微软雅黑"; color:#444;}
textarea{resize:none;}body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,.pr,.pc{margin:0;padding:0;}
table{empty-cells:show;border-collapse:collapse;}caption,th{text-align:left;font-weight:400;}
ul li,.xl li{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:1em;}em,cite,i{font-style:normal;}
a{color:#333;text-decoration:none; /*transition:all .2s linear*/}
a:hover{text-decoration:blink;}
a img{border:none;}
label{cursor:pointer;}
ul,li { list-style:none}


/**header css**/
.header { position: fixed; width:100%; z-index:30; border-bottom:1px solid #ddd;background-color:#FFF ;clear:both}
.ofnavmain { width:1240px; margin:0 auto}
.oflogin { height:40px; clear:both; background:#343434;width:100%; clear:both}
.ofnav { height:90px; clear:both; overflow:hidden;width:100%}

.ofloginleft { float:left; line-height:40px; color:#fff}
.ofloginright { float:right;}
.login { float:right; padding-left:20px;}
.login ul { float:left; padding-right:20px;}
.login ul li { float:left; padding:0 10px; height:40px; line-height:40px;}
.login ul li a { color:#fff;}
.login ul li a img { vertical-align:-3px; margin:0 3px}
.a-phone { float:right; color:#fff; line-height:40px;}
.getin { float:right; padding-top:8px;}
.getin a { background:#fff; float:right; height:24px; line-height:24px; padding:0 15px; color:#000; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}

.ofnavmainleft { float:left; padding:25px 0 0 0 }
.ofnavmainleft img { margin-right:20px;}
.ofnavmainright { float:right; padding-top:30px;}
.ofnavmainright li { float:left;}
.ofnavmainright li a { float:left; padding:0 15px; height:30px; line-height:30px; font-size:16px; color:#5c5c5c}
.ofnavmainright li a:hover { color:#fff;  background: #ee770f; border-radius: 30px;}
.ofnavmainright li a.hover { color:#fff;  background: #ee770f; border-radius: 30px;}


/**footer  css**/
.footer{ background: #f9f9f9;width: 100%; min-width: 1170px; height: auto;overflow:hidden;}
.links{width: 1170px; margin: 20px auto; height: auto;}
.linkstitle{ height: 45px;line-height: 45px;}
.linkstitle span{font-size: 20px;height: 42px; line-height: 42px;border-bottom: 3px solid #ee780e;display: block;float: left;}
.links ul{ width: 100%;height: auto; overflow: hidden;}
.links ul li{ width: 172px; height: 77px; margin: 20px 20px 20px 0 ; float: left; border: 1px solid #dddddd;}
.footcnt{ width: 100%; min-width: 1170px; height: 140px; background: #343434; display: table;}
.table-cell{ display: table-cell; vertical-align: middle; text-align:center;}
.footcnt h4{ color: #fff; font-size: 14px;font-weight: 300;margin-bottom: 27px;}
.footcnt p{ color: #898989;}


#page a.active{
			border-bottom: 1px solid coral;
			}





/**
* 
首页主要内容部分    css     

其中有一部分类在其他页面也会用到，例如.mainBox，这里我就不再细分了
* 
**/

.bigImg{ width: 100%; min-width: 1170px;height: auto; overflow: hidden;}
.bigImg img{width: 100%;}
.mainBox{width:100%; height: auto;overflow: hidden;min-width: 1170px;}
.index-list{ width: 1170px; height: auto;overflow: hidden;margin: 0 auto 20px auto;}
.index-list-left{ width: 50%; float: left;}
.listtitle{ height: 26px;padding: 18px 0;}
.listtitle span{font-size: 20px;height: 26px; text-indent: 5px; line-height: 25px;border-left: 4px solid #ee780e;display: block;float: left;}
.index-list ul{ width: 90%;height: auto; border: 1px solid #dddddd; background: #fff; padding:14px 5px;}
.index-list ul li{ border-bottom: 1px dashed #ccc;  line-height: 36px; height: 36px; }
.index-list ul li a{ margin: 0 5px; font-size: 14px; text-indent: 10px; display: block; color: #323232;background: url(../img/i09.png) left no-repeat; font-family: "鐎瑰缍�";}
.index-list ul li span{ float: right; font-size: 12px;}
.index-list ul li:hover{border-bottom: 1px solid #ccc;}

/****/
.introduction{width: 1170px; height: auto;overflow: hidden;margin: 0 auto 40px auto;}
.introd-title{ height: auto;padding: 18px 0;}
.introd-title h1{text-align: center;height: 75px;font-weight: 500;overflow: hidden;clear: both;}
.introd-title span{font-size: 32px;padding: 10px 0;border-bottom: 5px solid #ff8c25}
.introd-title p{ text-align: center; font-size: 14px;}
.introduction ul{ margin-top: 10px;}
.introduction ul li{ float: left; width: 33%; text-align: center;}
.introduction ul li a{ display: block; height: auto; padding: 0 20%;}
.introduction ul li h2{font-size: 28px;font-weight: 500;padding: 10px 0;}
.introduction ul li p{color: #9faeae; text-align: left;}
.introduction ul li:hover img{ opacity: 0.9;}

.introduction2{width: 1170px; height: auto;overflow: hidden;margin: 0 auto 40px auto;}
.introduction2 ul{ margin-top: 10px;}
.introduction2 ul li{ float: left; width: 25%; text-align: center; position: relative;}
.introduction2 ul li a{ display: block; height: auto; padding: 0 10%;}
.introduction2 ul li h2{font-size: 28px;font-weight: 500;padding: 10px 0;}
.introduction2 ul li p{color: #9faeae; text-align: left;}

.ejx p{ text-align:center !important; color:#FFF !important; margin-bottom: 5px;}
.ejx{ margin-top:-228px;position:absolute; left:22%;background:rgba(0,0,0,0.5); float:left; display:block; width:163px; height:162px; border-radius:162px; display:none; }
.ejx a p:hover{ color:#ff8c25 !important;}

.introduction2 ul li:hover img{ opacity: 0.9;}
.introduction2 ul li:hover .ejx{ display: block;}







/**园区服务             
 * 
 * 
 * 
 * 
 * 
 * **/
.svsapplbox{width: 1170px; height: auto;overflow: hidden;margin: 0 auto;margin-bottom: 40px;margin-top:-30px;}
.svsapplbox h1{ margin: 110px 0 60px 0; font-size: 32px; color: #000;text-align: center;font-weight: 500;}
.svsapplbox dl{ width: 100%; }
.svsapplbox dt{ width: 38%; float: left;text-align: right;font-size: 14px;line-height: 34px;color: #b7b7b7;}
.svsapplbox dd{ width: 50%; padding-left: 42%; margin-bottom: 40px;;}
.svsapplbox dd select{ height: 34px;width: 195px; line-height: 34px;;}
.svsapplbox dd textarea{ width: 100%;}
.svsapplbox dd a{ width: 168px; height: 48px; border-radius: 22px; line-height: 48px; text-align: center;font-size: 24px ;color: #fff; background: #ee770f; display: block;}
 #sel{text-align: center;color:#400040;font-size:25px;margin-bottom:30px;margin-top:20px;margin-left:-30px}


.smallbox{ padding: 45px 0; border-top: 1px solid #dddddd; height: auto; overflow: hidden;}
.smallbox img{ width: 315px; float: left;}
.smallbox-pice{ width: 827px; padding-left: 343px;;}
.smallbox-pice h1{ margin:0; text-align: left; margin-bottom: 25px;}
.smallbox-pice h1 a{ display: block;float: right;width: 120px ;height:40px;	line-height: 40px ;text-align: center; background: #ee770f; font-size: 16px;border-radius: 28px;color: #fff;}
.smallbox-pice h1 a:hover{ background: #fff;color: #ee770f; border: 1px solid #ee770f; width: 118px; height: 38px;}

.smallbox-pice p{ line-height: 30px;}
.smallbox-pice span{ display: block; margin-top: 10px;}
.smallbox-pice span a{ display: block;	border: 1px solid #666666; width: 108px; height: 32px; text-align: center; line-height: 32px; border-radius: 5px  ; float: left; margin-right: 20px; font-size: 16px;}
.smallbox-pice span a:hover{ background: #666;color: #fff;;}
.smallbox-pice span e{ display: block;	border: 1px solid #666666; cursor:pointer; width: 108px; height: 32px; text-align: center; line-height: 32px; border-radius: 5px  ; float: left; margin-right: 20px; font-size: 16px;}
.smallbox-pice span e:hover{ background: #666;color: #fff;;}



/**
 * 
 *入驻平台
 *  
 * 
 **/
.inapplbox{width: 1170px; height: auto;overflow: hidden;margin: 0 auto;margin-bottom: 40px;}
.inapplbox h1{ margin: 110px 0 60px 0; font-size: 32px; color: #000;text-align: center;font-weight: 500;}
.inapplbox table{ margin: 0 auto 60px auto;font-weight:bold;}
.inapplbox td{ height: 50px; line-height: 50px; font-size: 15px; color: rgb(161,161,161);}
.inapplbox td p{ display: inline-block; width: 80px;}
.inapplbox td input{ width: 245px;height: 28px; margin:0 32px 0 22px; text-indent: 10px;}
.inapplbox .midsub{width:200px;margin:0 auto}
.inapplbox #sub{width: 168px;border:none;outline:none;height: 48px; border-radius: 22px; font-size: 24px ;color: #fff; background: #ee770f; display: block;}
.inapplbox #sub:hover{color:red;}









/* flexslider */
.flexslider{margin:0px auto;position:relative;width:1170px;height:295px;overflow:hidden;zoom:1; margin-bottom: 60px;}
.bigimg{ height:400px !important;}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.flexslider .slides{zoom:1;}
.flexslider .slides img{ width: 100%;}
.flex-direction-nav a{width:60px;height:90px;line-height:99em;overflow:hidden;margin:-60px 0 0;display:block;background:url(../img/ad_ctr.png) no-repeat;position:absolute;top:50%;z-index:10;cursor:pointer;opacity:0;filter:alpha(opacity=0);-webkit-transition:all .3s ease;}
.flex-direction-nav .flex-next{background-position:0 -90px;right:0;}
.flex-direction-nav .flex-prev{left:0;}
.flexslider:hover .flex-next{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-prev{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1;filter:alpha(opacity=50);}
.flex-control-nav{width:100%;position:absolute;bottom:10px;text-align:center;}
.flex-control-nav li{margin:0 5px;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{background:url(../img/dot.png) no-repeat 0 -16px;display:block;height:16px;overflow:hidden;text-indent:-99em;width:16px;cursor:pointer;}
.flex-control-paging li a.flex-active{background-position:0 0;}



@media only screen and (max-width: 1280px) {
	.ofnavmain { width:1024px !important; }
	.footer{min-width: 1024px !important; }
	.links{width: 1024px !important; }
	.introduction{width: 1024px !important; }
	.introduction2{width: 1024px !important; }
	.index-list{width: 1024px !important; }
	.bigImg{min-width: 1170px !important;}
	.inapplbox h1{ margin: 60px 0 60px 0 !important;}
}




