			*{
				margin:0;
				padding:0;
				}
			body{
				
				
				}
			.lang{
				margin:20px 0;
				}
			.lang a:hover{
				color:red;
				}
			.lang a{
				text-decoration: none;
				color:black;
				font-size:6px;
				}
			.langimg{
				display:inline-block;
				margin-bottom:-20px;
				}
			.container{
				width:1144px;
				margin:0 auto;
				 }
		
			.aa{
				display:inline-block;
				}
			
			.bigtitle .p1{
				font-size:25px;
				text-align:center;
				color:#ef7f22;
				font-weight: bolder;
				margin-top:40px;
			}
			.bigtitle .p2{
				font-size:8px;
				text-align: center;
				margin:20px 0px;
			}
			.thing{
				border-top:1px lightgrey dotted;
			}
			.thing p{
				font-size:14px;
				color:#343232;
			
				text-indent: 2em;
				margin-bottom: 20px;
				line-height: 23px;
				}
			.inthing{
					width:90%;
					margin:0 auto;
					margin-top:10px;
				}