<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etop.management.dao.PressDao">

    <sql id="Base_Column_List" >
        t1.id,t1.park_id,t1.title,t1.news_img,t1.content,t1.state,t1.news_type,t1.total_type,t1.created_by,t1.created_at,t1.updated_at,t1.updated_by
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause_Object">
        <if test="id != null and id!=''"  >
            t1.id =  #{id}
        </if>
        <if test="parkId != null" >
            and t1.park_id =  #{parkId}
        </if>
        <if test="title != null and title!=''" >
            and t1.title like CONCAT('%',#{title},'%')
        </if>
        <if test="createdBy != null" >
            and t1.created_by =  #{createdBy}
        </if>
        <if test="newsImg != null" >
            and t1.news_img =  #{newsImg}
        </if>
        <if test="createdAt != null" >
            and t1.created_at =  #{createdAt}
        </if>
        <if test="content != null" >
            and t1.content =  #{content}
        </if>
        <if test="state != null and state !=''" >
            and t1.state =  #{state}
        </if>
        <if test="newsType != null and newsType!=''" >
            and t1.news_type =  #{newsType}
        </if>
        <if test="totalType != null and totalType!=''" >
            and t1.total_type =  #{totalType}
        </if>
        <if test="updatedBy != null">
            AND t1.updated_by = #{updatedBy}
        </if>
        <if test="updatedAt != null">
            AND t1.updated_at = #{updatedAt}
        </if>
    </sql>

    <insert id="insert">
        insert into etop_news(id,park_id,title,news_img,content,state,news_type,total_type,created_at,created_by,updated_at,updated_by)
		values(uuid(),#{parkId},#{title},#{newsImg},#{content},#{state},#{newsType},#{totalType},sysdate(), #{createdBy}, sysdate(), #{updatedBy})
    </insert>

    <update id="updatePressById">
        update etop_news en
        <set>
            <if test="parkId != null  ">
                en.park_id = #{parkId},
            </if>
            <if test="title != null  ">
                en.title = #{title},
            </if>
            <if test="createdBy != null  ">
                en.created_by = #{createdBy},
            </if>
            <if test="newsImg != null  ">
                en.news_img = #{newsImg},
            </if>
            <if test="createdAt != null  ">
                en.created_at = #{createdAt},
            </if>
            <if test="content != null  ">
                en.content = #{content},
            </if>
            <if test="state != null  ">
                en.state = #{state},
            </if>
            <if test="newsType != null  ">
                en.news_type = #{newsType},
            </if>
            <if test="totalType != null" >
                en.total_type =  #{totalType}
            </if>
            <if test="updatedAt != null" >
                updated_at =  sysdate(),
            </if>
            <if test="updatedBy != null" >
                updated_by =  #{updatedBy}
            </if>
        </set>
        where en.id = #{id}
    </update>

    <update id="updateState">
        UPDATE
			etop_news
		set
			state=#{state}
		where
			id = #{id}
    </update>

    <select id="select" resultType="com.etop.management.bean.News">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            etop_news t1
        <where>
            <include refid="Example_Where_Clause_Object"/>
        </where>
    </select>

    <select id="getPressInfoById" resultType="com.etop.management.bean.News">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            etop_news t1
        WHERE
            t1.id = #{id}
    </select>
</mapper>